<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

        <!-- Handlebars template for message cards -->
        <script id="cardTemplate" type="text/x-handlebars-template">
            {% raw -%}
            <li class="message-list-item" id="{{id}}">
                <h5 class="message-header">{{ name }}</h5>
                <h7 class="message-timestamp">{{ timestamp }} (in {{ channel }})</h7>
                <p class="message-text">{{ message }}</p>
                <hr>
            </li>
            {%- endraw %}
        </script>

        <title>Schwach</title>

    </head>

    <body>
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                    <h3 class="site-brand">Schwach</h3>
                    <h4 class="text-muted">Channels</h4>

                <ul id="channel-list">
                </ul>

                <!-- Add channel form-->

                <h6 class="text-muted"> Create a Channel </h6>
                <form id="add-channel-form" class="form-group">
                    <input type="test" id="new-channel-name" class="form-control" autocomplete="off">
                    <button id="add-channel-btn" type="submit">&#x2b;</button>
                </form>

            </div>

            <!-- Page content -->
            <div id ="content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">

                            <!-- Navbar -->
                            <nav class="navbar navbar-light bg-light">
                                <h3 id="channel-header"></h3>
                            </nav>



                            <!-- <ul class="list-group" id="messages"> -->
                            <ul id="messages">
                            </ul>

                            <div id="messenger" class="form-group">
                                <form id="submitMessage">
                                    <input type="text" id="newMessage" autocomplete="off">
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of page content -->

        </div>
    </body>
</html>
